body{
    background-color: black;
}

.left-side{
    
}

.structured-content{
display: flex;
flex-direction: row;
justify-content: center;
}

img{
width: 400px;
height: 800px;
position: absolute;
}


.right-side{
    background-color: lightgray;
    width: 750px;
    margin-left: 0px;
    height: 800px
}

.top-text{
    margin-left: 50px;
    margin-top: 130px;
    font-size: 22px;
}

.middle-section{
    background-color: white;
    height: 275px
}

.form{
    margin-left: 30px;
    
}


.form h2{
    padding-top: 20px;
}

.top-form{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.middle-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.bottom-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}


.top-form-left{
margin-right: 100px;
}

.top-form-right{
    margin-right: 260px;
    }


.bottom-form{
    margin-left: 30px;   
}


input{
    border-radius: 5px;
    height:20px
}

input:invalid:required {
    border: 2px solid red;
  }
  
  input:valid {
    border: 2px solid black;
  }

input:focus{
    border: 5px;
    color: yellow;
    box-shadow: 10px 5px 5px black;
}



  .create-account{
    margin-top: 25px;
    margin-left:25px;
    width: 200px;
    height:40px;
    border-radius: 5px;
    font-size: 16px;
    background-color: green;
    color:white;
  }

  .below-create-account{
    margin-left:25px;
  }


  .opacity{
    background-color: black;
    height:120px;
    width: 400px;
    position: relative;
    opacity: 0.5;
    margin-top: 160px;
  }

  .odin-logo{
    width:90px;
    height:auto;
    margin-left: 100px
  }

  .odin{
    color: white;
    margin-left: 180px;
    padding-top: 20px;
    font-size: 70px;
   
  }